@font-face {
  font-family: 'Zen Maru Gothic';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('~assets/fonts/ZenMaruGothic-Black.ttf') format('truetype');
}
@font-face {
  font-family: 'Zen Maru Gothic';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('~assets/fonts/ZenMaruGothic-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Zen Maru Gothic';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('~assets/fonts/ZenMaruGothic-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Zen Maru Gothic';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('~assets/fonts/ZenMaruGothic-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'Zen Maru Gothic';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('~assets/fonts/ZenMaruGothic-Regular.ttf') format('truetype');
}
